.project {
  display: grid;
  gap: 57rem;
  margin-bottom: 107rem;
  perspective: 1000rem;

  &-item {
    display: flex;
    align-items: center;
    gap: 35rem;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }

    &:nth-child(even) {
      .project-item__img {
        order: 2;
      }
    }

    &__img {
      flex-basis: 548rem;
      max-width: 557rem;

      @include tablet {
        flex-basis: initial;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 30rem;
      align-items: flex-start;
      max-width: 582rem;

      @include tablet {
        max-width: 100%;
        align-items: center;
        text-align: center;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 42rem;
      color: var(--white);

      @include tablet {
        font-size: 26rem;
        text-align: center;
      }
    }

    &__desc {
      font-weight: 400;
      font-size: 16rem;
      line-height: 162%;
      color: var(--white);
      @include tablet {
        max-width: 900rem;
      }
    }

    &__btn {
      background: var(--main-btn-gradient);
      border-radius: 4rem;
      font-weight: 400;
      font-size: 14rem;
      color: var(--white);
      padding: 7rem 15rem;
      transition: var(--transition);
    }

    &__btn:hover {
      transform: scale(1.1);
    }
  }
}
