.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120rem;

  @include tablet {
    margin-bottom: 140rem;
  }

  &__title {
    font-size: 42rem;
    font-weight: 700;
    line-height: 55%;
    margin-bottom: 30rem;

    @include tablet {
      font-size: 28rem;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 16rem;
    line-height: 162%;
    text-align: center;
    max-width: 590rem;
    margin-bottom: 40rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30rem;
    grid-row-gap: 40rem;
    justify-items: center;

    @include desktop-small {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  &-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 370rem;

    box-sizing: border-box;
    border-radius: 34rem;
    border: 1rem solid var(--border-color);
    box-shadow: 0px 22rem 18rem 0px rgba(0, 0, 0, 0.05);
    background: var(--item-gradient);
    transition: var(--transition);

    padding: 37rem 23rem 30rem 23rem;
  }

  &-item:hover {
    background: var(--border-color);
  }

  &-item__circle {
    padding: 18rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-item__title {
    font-weight: 500;
    font-size: 24rem;

    margin-top: 19rem;
  }

  &-item__desc {
    font-weight: 400;
    font-size: 16rem;
    line-height: 26rem;

    max-width: 324rem;
    margin-top: 17rem;
    text-align: left;
  }

  &__group__link {
    display: flex;
    align-items: center;
    margin-top: 24rem;
    gap: 5rem;
    transition: var(--transition);
  }

  &__group__link:hover {
    transform: scale(1.1);
  }

  &-item__link {
    font-weight: 400;
    font-size: 16rem;
    line-height: 162%;
    color: var(--white);
  }
}

.circle1 {
  background: linear-gradient(
    180deg,
    rgb(138, 127, 217),
    rgb(64, 47, 143) 100%
  );
}

.circle2 {
  background: linear-gradient(
    180deg,
    rgb(217, 127, 149),
    rgb(146, 50, 80) 100%
  );
}

.circle3 {
  background: linear-gradient(
    180deg,
    rgb(132, 216, 237),
    rgb(66, 146, 187) 100%
  );
}

.circle4 {
  background: linear-gradient(
    180deg,
    rgb(146, 239, 195),
    rgb(47, 143, 91) 100%
  );
}

.circle5 {
  background: linear-gradient(
    180deg,
    rgb(188, 127, 217),
    rgb(146, 50, 131) 100%
  );
}

.circle6 {
  background: linear-gradient(
    180deg,
    rgb(134, 132, 237),
    rgb(66, 71, 187) 100%
  );
}
